@import "../../../scss/variables";

.square {
  height: 99%;
  width: 99%;
  font-size: 60px;
  outline: none;
  background-color: rgba($color: $sienna, $alpha: 0.8);
  border-radius: 4%;
  border: 0;
  color: $charcoal;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &--tabfocus:focus {
    border: 2px $charcoal solid;
  }
}

@media (min-width: 768px) {
  .square {
    font-size: 100px;
  }
}

@media (min-width: 1024px) {
  .square {
    &:hover {
      transform: scale(1.02);
      border: 2px $charcoal solid;
    }
  }
}

@media (min-width: 1280px) {
  .square {
    font-size: 120px;
  }
}
