@import "../../../scss/variables";

.square {
  height: 100%;
  width: 100%;
  font-size: 60px;
  outline: none;
  background-color: rgba($color: $imperial, $alpha: 0.9);
  border-radius: 4%;
  border: 0;
  transform: scale(1);
  transition: transform 0s;
  color: $prussian;
  cursor: pointer;

  &--tab-focus:focus {
    border: 3px $prussian solid;
  }

  &--hover-btn {
    transition: transform 0.2s;
    transform: scale(1.03);
  }
}

@media (min-width: 768px) {
  .square {
    font-size: 100px;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  .square {
    font-size: 45px;
  }
}

@media (min-width: 1024px) {
  .square {
    font-size: 110px;
  }
}

@media (min-width: 1280px) {
  .square {
    font-size: 120px;
  }
}
