<footer>
  <div class="author">
    <small class="copyright"
      >Copyright &copy; {{ year }} Marek Rawdanowicz</small
    >
    <a
      class="link"
      href="https://linkedin.com/in/marek-rawdanowicz-42994b1bb/"
      target="_blank"
      aria-label="Open LinkedIn"
      rel="noopener"
    >
      <i class="fab fa-linkedin" aria-hidden="true"></i
    ></a>
    <a
      class="link"
      href="https://github.com/marraw/tic-tac-toe"
      target="_blank"
      aria-label="Open GitHub"
      rel="noopener"
      ><i class="fab fa-github" aria-hidden="true"></i
    ></a>
  </div>
</footer>
