<div class="container">
  <h1 class="game-title">
    <span class="game-title__word tic">Tic</span>
    <span class="game-title__word tac">Tac</span>
    <span class="game-title__word toe">Toe</span>
  </h1>
  <div class="play-buttons">
    <button
      class="play-buttons__btn btn"
      *ngIf="!selectMode"
      (click)="selectMode = true"
      aria-label="Select game mode"
    >
      <i class="fas fa-gamepad" aria-hidden="true"></i>Play now
    </button>
    <a class="play-buttons__btn btn" *ngIf="selectMode">
      <i class="fas fa-user-friends" aria-hidden="true"></i>VS friend
    </a>
    <a class="play-buttons__btn btn" *ngIf="selectMode" routerLink="play">
      <i class="fas fa-robot" aria-hidden="true"></i>
      VS computer
    </a>
  </div>
</div>
