@import "../../../scss/variables";

header {
  position: fixed;
  top: 30px;
  left: 50%;
  width: 100%;
  display: flex;
  align-items: center;

  .go-back {
    position: fixed;
    left: 5vw;
    font-size: 30px;
    color: $caladon;
    animation: go-back infinite 2.5s;

    &:hover {
      color: darken($caladon, 15%);
    }
  }

  .game-title {
    font-size: 35px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  header {
    top: 50px;

    .go-back {
      font-size: 50px;
      left: 10vw;
    }

    .game-title {
      font-size: 45px;
    }
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  header {
    top: 25px;

    .game-title {
      font-size: 30px;
    }

    .go-back {
      font-size: 30px;
    }
  }
}

@media (min-width: 1024px) {
  header {
    top: 40px;

    .go-back {
      font-size: 40px;
    }

    .game-title {
      font-size: 40px;
    }
  }
}

@media (min-width: 1280px) {
  header {
    top: 60px;

    .go-back {
      font-size: 55px;
      left: 20vw;
    }

    .game-title {
      font-size: 50px;
    }
  }
}

@keyframes go-back {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  10% {
    transform: scale(1);
  }
}
