body {
  background-color: $honeydew;
}

.btn {
  padding: 15px 25px;
  font-size: 22px;
  border-radius: 3%;
  background-color: $imperial;
  border: transparent;
  color: #fff;
  outline-color: $prussian;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.2s;

  & i {
    margin-right: 10px;
  }

  &:hover {
    background-color: darken($imperial, 15%);
  }
}

.game-title {
  &__word {
    &.tic {
      color: darken($powder, 10%);
    }
    &.tac {
      color: $caladon;
    }
    &.toe {
      color: lighten($imperial, 10%);
    }
  }
}

.dialog-window {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 120px;
  background-color: rgba($color: $prussian, $alpha: 0.95);
  z-index: 10;
  color: #fff;
  border-radius: 10%;

  button {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
}
