body {
  background-color: $honeydew;
}

.btn {
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 4%;
  background-color: $imperial;
  border: transparent;
  color: #fff;
  outline-color: $prussian;
  transition: 0.2s;

  &:hover {
    background-color: darken($imperial, 15%);
  }
}
