.board {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 30vw);
  grid-template-rows: repeat(3, 30vw);
}

@media (max-height: 640px) {
  .board {
    grid-template-columns: repeat(3, 27vw);
    grid-template-rows: repeat(3, 27vw);
  }
}

@media (min-width: 768px) {
  .board {
    gap: 4px;
    grid-template-columns: repeat(3, 15vh);
    grid-template-rows: repeat(3, 15vh);
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  .board {
    grid-template-columns: repeat(3, 20vh);
    grid-template-rows: repeat(3, 20vh);
  }
}

@media (min-width: 1024px) {
  .board {
    gap: 6px;
    grid-template-columns: repeat(3, 20vh);
    grid-template-rows: repeat(3, 20vh);
  }
}
